<h1> Welcome <%=current_user.name.capitalize%></h1>

<p> Things to add: </p> 
    <ul>
        <li>on user show page index items, display 'winning' or 'losing' based on wether or not the users chosen option has the majority       of votes</li>
        <li>on user show page create link to a nested subjects index rote that displays only subjects the user has not voted on</li>
    </ul>
<h2> Subjects You Voted On: </h2> 

<%=render 'votes/votes_index'%>




