
<h1><%=@subject.title%></h1>

<h3>Category: <%=@subject.category.title%></h3>
<p><%=@subject.description%></p>


<div class= "link"> <%= link_to  "Vote Now!", new_subject_vote_path(@subject) %> </div>



#want to display a percentage of how many votes have been voted for each option